html,
body {
    height: 100%;
}
body {
    display: -ms-flexbox;
    display: flex;
    background-color: #f5f5f5;
}
.question-form {
    width: 100%;
    max-width: 420px;
    margin: auto;
}
.question-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}
