<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>iOracle</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">

        {% block head %}{% endblock head %}
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
